body {
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

input, textarea {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}
